#container{
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing:border-box
}


#displayContainer{
background-color:black;
height: 150px;
width:350px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#display{
    background-color:lightgray;
    height:50px;
    width:300px;
    color:black
}

#secondDisplay{
   
        background-color:lightgray;
        height:50px;
        width:300px;
        color:black;
        display:flex;
        justify-content:right;
        
    
}

#buttonContainer{
    background-color:black;
    height:400px;
    width:350px;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    
}

button{
    color:black;
    height:75px;
    width:75px;
    background-color:white;
    border-radius:10%
    
}

#clear{
    width:150px;
    height:70px;
    background-color:rgb(250, 10, 10)
}

#delete{
    width:150px;
    height:70px;
    background-color:turquoise
}

#equals{
    width:150px;
    background-color:gold
}

#plus,#subtract,#multiply,#divide{
    background-color:gold
}
